.btnBegin {
    width: 100%;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: #27798F;
}
.logo{ 
    margin-top: 100px;
    margin-bottom: 100px;
}
.center{
    display: flex;
    justify-content: center;
 }
 .user{
    margin-bottom: 50px;
 }
 .btnvolver{
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    background-color: #27798F;
 }

@media screen and (max-width: 600px) {
    .btnLogin{
        width: 80% ;
    }
  }