.btnTable {
        background-color: #27798F;
}
.center {
        display: flex;
        justify-content: center;
}
.table{
        text-align: center;
        margin-top: 50px;
        margin-bottom: 60px;
}
.itemtable{
        width: 150px;
}

@media screen and (max-width: 600px) {
        .btnLogin {
                width: 80%;
        }
}

